<div class="page">
  <div class="container-livros">
    <div class="search">
      <input class="form-control" [formControl]="search" placeholder="Filtrar por Titulo ou Autor" />
    </div>
    <div class="cards">
      <div class="card" *ngFor="let livro of listaLivros" (click)="visualizar(livro)">
        <picture>
          <img [src]="livro.urlCapa" width="100%" />
          <caption>
            {{
              livro.titulo
            }}
          </caption>
        </picture>
        <a class="more-info"> + ver detalhes</a>
      </div>
    </div>
  </div>
  <div class="noresults" *ngIf="listaLivros?.length === 0">
    Nenhum livro cadastrado...
  </div>
</div>
