.content-consulta {
  margin: 45px;
  .titulo {
    color: #a0a0a0;
  }

  .cabecalho-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    padding: 15px 0;
    background-color: #ebebeb;

    .search {
      display: flex;
      width: 400px;
    }

    .paginacao {
      margin: 0 15px;
      width: 84px;
    }
  }
}
